* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  align-items: center;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 99vh;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-container {
    min-width: 330px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    background: url("./bg.jpg") no-repeat center / cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .divider {
      display: flex;
      flex-direction: row;
      margin: 0%;
      padding: 2%;
      min-width: 100%;
      div {
        border: 1px solid #fff;
        flex-grow: 1;
      }
      p {
        color: #fff;
        margin: 0% 2%;
      }
    }
    .error-text {
      color: #ff0033;
      font-size: medium;
      padding: 0%;
      margin: 0%;
      text-align: center;
      min-width: 100%;
    }
    link {
      min-width: 100%;
    }
    button {
      min-width: 100%;
      background: #fff;
      color: rgb(68, 67, 67);
      padding: 5%;
      margin: 5% 0%;
      border: none;
      font-size: medium;
      border-radius: 8px;
    }
    button:hover {
      cursor: pointer;
      background-color: #629ef8;
      color: #fff;
    }
    .box {
      border-bottom: 2px solid #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-width: 100%;
      padding: 5% 0%;
      margin-bottom: 0%;
      .icon {
        max-width: 35px;
        padding-right: 10px;
      }
      .input {
        flex-grow: 1;
        border: none;
        background: none;
        padding-bottom: 0%;
        color: #fff;
        font-size: medium;
      }
      input:focus {
        color: #fff;
      }
      ::placeholder {
        color: #fff;
        font-size: medium;
      }
      .verIcon {
        display: none;
      }
    }
  }
}
@media (max-width: 1081px) {
  .error-text {
    font-size: small;
  }
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
